AMPLIFY_TARGET_APP_ID=
ASTRO_KEY=
CONTENT_BUCKET=
CONTENT_MANIFEST_KEY=content/manifest.json
CONTENT_REGION=us-east-2
CONTENT_RUNTIME_CACHE_TTL_SECONDS=60
PUBLIC_EMAIL_SERVICE_ID=
PUBLIC_EMAIL_TEMPLATE_ID=
PUBLIC_EMAIL_URL=
PUBLIC_EMAIL_USER_ID=
PUBLIC_FACEBOOK_DOMAIN_VERIFICATION=
PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_WEB_VITALS_ENDPOINT=
