# build output
dist/
.amplify-hosting/
.artifacts/
.aws-sam/

# generated types
.astro/
coverage/
playwright-report/
test-results/
.lighthouseci/
public/media/brand/
public/media/profile/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

package-lock.json

.vscode
.cursor
